body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg,#2193b0 , #d6e4f1);
  }
a {
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(35, 26, 206, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 

}
.form-section {
    margin-bottom: 20px;
    padding: 20px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form-section h2 {
    margin-bottom: 10px;
}
.form-section label {
    display: block;
    margin-bottom: 5px;
}
.form-section input, .form-section select, .form-section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.button {
    background-color: #4583bd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;

}
.button:hover {
    background-color: #397cba;
}
.header {
    margin-top: 0;
    background-color: #4583bd;
    color: white;
    padding: 10px 0;
    text-align: center;

}
.logo{
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    size: 20%;
}
/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
    position: relative;
  }
  
  .wave-group .input {
    margin-top: 50px;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #0000006c;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  
  